{% extends "base.html" %}
{% block title %}My Products{% endblock %}

{% block content %}
<h2>My Products</h2>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Sold</th>
            <!--<th>Edit</th>-->
        </tr>
    </thead>

    <tbody>
        {% for p in products %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.stock }}</td>
                <td>{{ p.sold }}</td>
                <!--<td><a href="{{ url_for('supplier.edit_product', product_id=p.id) }}" class="btn btn-sm btn-secondary">Edit</a></td>-->
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}