{% extends "base.html" %}
{% block title %}Add Chapter{% endblock %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <div class="card shadow p-4">
        <h2 class="mb-4 text-center">📘 Add Chapter</h2>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-3">{{ form.manga_id.label(class="form-label") }}{{ form.manga_id(class="form-select") }}
            </div>
            <div class="mb-3">{{ form.number.label(class="form-label") }}{{ form.number(class="form-control") }}</div>
            <div class="mb-3">{{ form.title.label(class="form-label") }}{{ form.title(class="form-control") }}</div>
            {{ form.submit(class="btn btn-success w-100") }}
        </form>
    </div>
</div>
{% endblock %}