{% extends "base.html" %}
{% block title %}Add Manga{% endblock %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <div class="card shadow p-4">
        <h2 class="mb-4 text-center">➕ Add Manga</h2>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-3">{{ form.title.label(class="form-label") }}{{ form.title(class="form-control") }}</div>
            <div class="mb-3">{{ form.author.label(class="form-label") }}{{ form.author(class="form-control") }}</div>
            <div class="mb-3">{{ form.description.label(class="form-label") }}{{ form.description(class="form-control")
                }}</div>
            <div class="mb-3">{{ form.cover_image.label(class="form-label") }}{{ form.cover_image(class="form-control")
                }}</div>
            <div class="mb-3">{{ form.genres.label(class="form-label") }}{{ form.genres(class="form-select") }}</div>
            {{ form.submit(class="btn btn-primary w-100") }}
        </form>
    </div>
</div>
{% endblock %}