{% extends "base.html" %}
{% block title %}{{ manga.tilte }} - Chapter {{ chapter.number}}{% endblock %}
{% block content %}
<div class="reader-header">
    <h2>{{ manga.title }} - Chapter {{ chapter.number }}</h2>
    <div class="reader-nav">
        {% if prev_chapter %}
        <a href="{{ url_for('main.read_chapter', chapter_id=prev_chapter.id) }}">⬅ Previous</a>
        {% endif %}
        <a href="{{ url_for('main.manga_detail', manga_id=manga.id) }}">📚 All Chapters</a>
        {% if next_chapter %}
        <a href="{{ url_for('main.read_chapter', chapter_id=next_chapter.id) }}">Next ➡</a>
        {% endif %}
    </div>
</div>

<hr>

<div class="reader-pages">
    {% for p in pages %}
    <img src="{{ url_for('static', filename=p.image_path) }}" alt="Page {{ p.page_number }}" class="reader-page"
        loading="lazy">
    {% else %}
    <p> No pages found for this chapter.</p>
    {% endfor %}
</div>

<hr>

<div class="reader-nav bottom">
    {% if prev_chapter %}
    <a href="{{ url_for('main.read_chapter', chapter_id=prev_chapter.id) }}">⬅ Previous</a>
    {% endif %}
    {% if next_chapter %}
    <a href="{{ url_for('main.read_chapter', chapter_id=next_chapter.id) }}">Next ➡</a>
    {% endif %}
</div>

<hr>
<h3>💬 Comments</h3>

{% if current_user.is_authenticated %}
<form action="{{ url_for('main.post_comment', chapter_id=chapter_id) }}" method="POST">
    <textarea name="content" rows="3" placeholder="Write your comment...." required></textarea><br>
    <button type="submit">Post Comment</button>
</form>
{% else %}
<p><a href="{{ url_for('auth.login') }}">Log in</a> to post a comment.</p>
{% endif %}

<hr>
{% for comment in chapter.comments|sort(attribute='timestamp', reverse=True) %}
<div style="border: 1px solid #ccc; padding: 8px; margin-bottom: 6px; border-radius: 6px;">
    <strong>{{ comment.user.username }}</strong>
    <small style="color: gray;">{{ comment.created_at.strftime('%Y-%m-%d %H:%M') }}</small>
    <p>{{ comment.content }}</p>

    {% if current_user.is_authenticated and (comment.user_id == current_user.id or current_user.role == "admin") %}
    <a href="{{ url_for('main.delete_comment', comment_id=comment_id) }}" style="color: red;">Delete</a>
    {% endif %}
</div>
{% else %}
<p>No comments yet. be the First!</p>
{% endfor %}


{% endblock %}