{% extends "base.html" %}
{% block content %}
<h2>Add Chapter to "{{ manga.title }}"</h2>

<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <label>Chapter Number:</label><br>
    {{ form.number(size=5) }}<br><br>

    <label>Chapter Title:</label><br>
    {{ form.title() }}<br><br>

    <label>Pages:</label><br>
    <div id="pages-container">
        {{ form.pages(class="form-control") }}
    </div>
    <button type="button" id="add-page-btn">Add More Pages</button><br><br>

    {{ form.submit(class="btn btn-primary") }}
</form>

<script>
    const addBtn = document.getElementById('add-page-btn');
    const container = document.getElementById('pages-container');

    addBtn.addEventListener('click', () => {
        const newInput = document.createElement('input');
        newInput.type = 'file';
        newInput.name = 'pages';
        newInput.classList.add('form-control');
        newInput.style.marginTop = '5px';
        container.appendChild(newInput);
    });
</script>
{% endblock %}