{% extends "base.html" %}
{% block title %}My Mangas{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>My Mangas</h2>

    <a href="{{ url_for('studio.create_manga') }}" class="btn btn-success mb-3">Create New Manga</a>

    {% if mangas %}
    <div class="row">
        {% for manga in mangas %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if manga.cover_image %}
                <img src="{{ url_for('static', filename='manga_covers/' + manga.cover_image) }}" class="card-img-top"
                    alt="{{ manga.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ manga.title }}</h5>
                    <p class="card-text">{{ manga.description[:100] }}{% if manga.description|length > 100 %}...{% endif
                        %}</p>
                    <a href="{{ url_for('studio.add_chapter', manga_id=manga.id) }}" class="btn btn-primary btn-sm">Add
                        Chapter</a>
                    <a href="{{ url_for('manga.view_manga', manga_id=manga.id) }}" class="btn btn-secondary btn-sm"
                        target="_blank">View Public</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>You have not created any mangas yet.</p>
    {% endif %}
</div>
{% endblock %}