{% extends "profile/profile_base.html" %}
{% block profile_content %}

<h2>Bookmarked Mangas</h2>

{% if bookmarks %}
<ul style="list-style:none; padding:0;">
    {% for b in bookmarks %}
    <li style="margin-bottom:15px; border-bottom:1px solid #ddd; padding-bottom:10px;">
        {% if b.manga.cover_image %}
        <img src="{{ url_for('static', filename='manga_covers/' + b.manga.cover_image) }}" width="50"
            style="vertical-align: middle; margin-right: 10px;">
        {% endif %}

        <a href="{{ url_for('manga.view_manga', manga_id=b.manga.id) }}">
            {{ b.manga.title }}
        </a>

        <a href="{{ url_for('bookmark.toggle_bookmark', manga_id=b.manga.id) }}"
            style="color: red; margin-left: 10px;">Remove Bookmark</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You have no Bookmarks yet.</p>
{% endif %}

{% endblock %}