{% extends "profile/profile_base.html" %}
{% block profile_content %}

<h2>My Account</h2>
<div>
    <form method="post" enctype="multipart/form-data">
        <label>Profile Pic:</label><br>
        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" width="100"><br>
        <input type="file" name="image_file"><br><br>

        <label>Username: </label><br>
        <input type="text" name="username" value="{{ current_user.username }}"><br>

        <label>Email: </label><br>
        <input type="email" name="email" value="{{ current_user.email }}"><br>

        <label>Password:</label><br>
        <input type="password" name="new_password"><br>

        <button type="submit">Save Changes</button>
    </form>
</div>

<hr>

<!-- Request Studio Access Section -->
<div>
    <h3>Studio Access</h3>
    {% if current_user.role == "user" %}
    <button><a href="{{ url_for('user.request_studio') }}">Request to Become Studio</a></button>
    {% elif current_user.role == "studio" %}
    <p>You are a Registered Studio.</p>
    {% else %}
    <p>Admins cannot request studio role.</p>
    {% endif %}
</div>

<hr>

<!-- Delete Account -->
<div>
    <h2>Delete Account</h2>
    <form method="post" action="{{ url_for('profile.delete_account') }}">
        <label>Enter Current Password to Confirm:</label><br>
        <input type="password" name="password" required><br><br>
        <button type="submit" style="background: red; color: white;">Delete Account</button>
    </form>
</div>

{% endblock %}