{% extends "base.html" %}
{% block title %}Admin Dashboard - Manga Center{% endblock %}

{% block content %}
<section class="admin-dashboard">
    <h2>Admin Dashborad</h2>
    <p>Welcome, {{ current_user.username }} (Admin)</p>

    <div class="admin-links">
        <ul>
            <li><a href="{{ url_for('admin.view_users') }}">View Users</a></li>
            <li><a href="{{ url_for('admin.view_authors') }}">View Authors</a></li>
            <li><a href="#">Manage Requests</a></li>
            <li><a href="#">Add New Author</a></li>
        </ul>
    </div>
</section>

{% endblock %}