{% extends "base.html" %}

{% block title %}Register - Manga Center {% endblock %}

{% block content %}
<section class="auth">
    <h2>Create Account</h2>

    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }} <br>
            {{ form.username(size=32) }}
        </div>

        <div class="form-group">
            {{ form.email.label }} <br>
            {{ form.email(size=32) }}
        </div>

        <div class="form-group">
            {{ form.password.label }} <br>
            {{ form.passowrd(size=32) }}
        </div>

        <div class="form-group">
            {{ form.confirm_password.label }} <br>
            {{ form.confirm_passowrd(size=32) }}
        </div>

        <div class="form-action">
            {{ form.submit() }}
        </div>
    </form>

    <p class="login-link">
        ALready have an account? <a href="{{ url_for('users.login') }}">Login here</a>
    </p>
</section>
{% endblock %}